@model List<Produs>
@{
    ViewData["Title"] = "Aranjarea dupa categorii";
}

<div class="row mt-5 mt-2">

    @{
       foreach (var p in Model)
        {
        <div class="col-lg-4 mt-3  pb-5" style="">

                <div class=" text-white p-3 pb-5" style="        background-color: rgba(50,50,50,0.7);
        border-radius: 13px;
 ">
                    @{string denumire = p.Path + "" + p.Img;}
                    <img class="img-thumbnail" src="@denumire" />
                   
                    <div class="float-left text-white mt-2"><p> &euro;@p.Price  </p></div>

                    <div class=" text-center mt-2"><h4>@p.Name</h4></div>
                    <div class="container text-white text-center" style="">
                        <p>
                            @p.Company



                    </div>
                    <div class="float-left">
                        <a class="btn btn-dark text-white" href="~/Cos/Add/@p.Id">
                            <img width="25" height="25" src="~/index/icons/add-to-cart.png" style="filter:invert(1)" />
                        </a>
                    </div>

                    <div class="float-right overflow-auto">
                        <a class=" btn btn-danger text-white" href="~/Visitator/Details/@p.Id">
                            <img width="25" height="25" src="~/index/icons/view-details.png" style="filter:invert(1)" />
                        </a>
                    </div>
                </div>

        </div>           
        }
    }

</div>