@using Magazin.ViewModels
@model ViewModel
@{
    ViewData["Title"] = "Categorii";
}
<h1 class="text-white m-5 text-center">Categorii</h1>

<div class="row mt-5 mt-2">


    @{ 

    
        foreach (var p in Model.viewCategory)
        {
            {

        <div class="col-lg-4">
                <div class=" text-white p-3 " style="        background-color: rgba(50,50,50,0.7);
        border-radius: 13px;
 ">
                    <img class="img-thumbnail  text-center" src="@p.Img" alt="@p.Name" />

                    <h1 class="text-center mt-3">   @p.Name</h1>


                    
                    <div class="text-center m-3">
                        <a class=" btn btn-danger text-white" href="~/Visitator/categorii/@p.Id">
                            <img width="25" height="25" src="~/index/icons/view-details.png" style="filter:invert(1)" />
                        </a>
                    </div>

                </div></div>

            }
            }
            }

        </div>
