<div class="container_total" style="width:95%;margin:20px;border-radius:20px;max-width:600px;max-height:800px">

    <div class="BRow" style="display:inline" >

        <div class="col1" style="width:30%;background-color:red">
            <h1>Col1</h1>
        </div> 
        <div class="col1" style="width:30%;background-color:red">
            <h1>Col2</h1>
        </div>
        <div class="col1" style="width:30%;background-color:red">
            <h1>Col3</h1>
        </div>
    </div>

</div>  