@model List<Log>
@{
    ViewData["Title"] = "Pagina cu Loguri";
}
<div class="container " style="background-color:rgb(255 ,255,255,0.8)">
<h1 class="mt-5 pt-5 text-center text-danger font-weight-bold">Fisierele cu loguri</h1>
<div class="row mt-10">
    @{
        foreach (var p in Model)
        {
            <div class="col-lg-2 m-3 p-1 text-center bg-dark text-white rounded" style="">

                @{ string last = p.name;}
                <h4>
                    <b class="text-danger">Logul de pe data </b>
                </h4>
                <h4>

                    @{for (int i = 62; i < 70; i++)
                        {

                            if (i == 66)
                            {
                                <b>-</b>
                            }
                            if (i == 68)
                            {
                                <b>-</b>
                            }
                            @last[i]

                        }
                    }
                </h4>



                <p> @Html.ActionLink("Descarca", "DownloadFile", new { fileName = p.name })</p>

            </div>
        }
    }
</div>
</div>