@model IEnumerable<Magazin.Models.Produs>

@{
    ViewData["Title"] = "Cos";
}

<div class="row mt-12 mt-10" style="text-align:center">

    @{
        foreach (var p in Model)
        {
            <div class="col-lg-10" style="background-color:dimgrey;color:yellow;border:5px solid black;">
                <h2>  @p.Name</h2>



                <p>  Pretul jocului : @p.Price.ToString("c")</p>
                <p>

                    <a class="btn btn-warning" href="~/Cos/Delete/@p.Id"> Sterge</a>
                </p>
            </div>
        }
    }



</div>
<div ><p>

    <a class="btn btn-danger" style="margin:30px;" href="~/Cos/Buy"> Cumpara</a>
</p></div>

