
@{
    ViewData["Title"] = "Catalogul Facultatilor";
}
<head>

    <title>Meniu principal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stel.css" />
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>

<div class="text-center" ng-app="myApp" ng-controller="customersCtrl" style="font-family: 'Sofia'">
    <a class="btn btn-warning" href="~/Home/Add">Adauga </a>
    <div class="row mt-5 mt-2">
        <div class="col-lg-4" ng-repeat="x in myData ">
            <h2>Facultatea de </h2>
            <h2>{{x.name }}</h2>
            >
            <p>
                Tip - {{x.tip}}

            <p>    {{x.desc}}  </p>
            <p>
                <a class="btn btn-warning" href="~/Home/Show/{{x.id}}">Arata</a>

            </p>

        </div>
    </div>




</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $http) {
        $http.get("https://localhost:44305/api/values").then(function (response) {
            $scope.myData = response.data;
              });
    });
   
</script>